extends ../_layouts/black-title.jade
//- blog-grid-3columns.html

block append head
  +globalVar('parts', parts)
  //- +globalVar('roles', roles)
  script(src="/bower_components/Chart.js/Chart.js")
  script(src='/ViewControllers/paid/allocation.js')
  style.
    #parts {width: 400px !important; height: 400px !important;}
    .tab-style1 {padding-top: 30px;}
    .progress-name {margin: 5px 0 0px;}


mixin progressBarItem(item)
  .progress-bar-sub
    .progress-name
      strong #{item.name}
      |  #{item.value}%
    .progress
      .progress-bar(role='progressbar', aria-valuenow='#{item.value}', aria-valuemin='0', aria-valuemax='100', style='width: #{item.value}%;')



block content
  .container
    .row
      .tab-style1
        .row
          .col-md-12.col-sm-12
            ul.nav.nav-tabs.nav-tabs-light.text-left
              li.active
                a(href='#tab_sec1', data-toggle='tab') Table
              li#chartTab
                a(href='#tab_sec2', data-toggle='tab') Chart
        .tab-content
          #tab_sec1.tab-pane.fade.in.active
            .progress-bar-main
              each part in parts
                +progressBarItem(part)
          #tab_sec2.tab-pane.fade.in
            canvas#parts
