extends ../_layouts/no-title.jade

block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  script(src='/ViewControllers/admin/index.js')
  style.
    


block content
  section.wow.fadeIn
    .container
      .row
        h2 Users
        ul.flat-list.text-med
          li
            a(href='/admin/users') total list
