extends ../_layouts/default.jade
//- blog-grid-3columns.html

block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  //- script(src='/ViewControllers/index.js')
  style.



block content
  section
    .container
      .row
        .col-md-4.col-sm-12.sm-margin-bottom-ten
          img(src='/images/users/#{profile.id}/#{profile.photo}', alt='')
        .col-md-7.col-sm-12.col-md-offset-1
          h1
            | #{profile.surname+' '+profile.name}
          .margin-ten
          a(href='#')
            +revealButton('fa-envelope-o', 'Send email')
