include ../_mixins/global

mixin flashes()
  div
    for error in req.flash('error')
      +error(error)
    for info in req.flash('info')
      +info(info)

doctype
html(style='height: auto;')
  head
    block head
      include ./parts/_head
      style.
        html {background: #000;}
        .cnt {background: #fff;}
    title
      block pageTitle
        | #{pageTitle ? pageTitle + ' - ' : ''}
        | OK
  body#body
    block navigation
      nav.navbar.navbar-default.navbar-fixed-top.nav-transparent.overlay-nav.sticky-nav.nav-white.nav-dark-transparent(role='navigation')
        .container
          .row
            include ./parts/navigation
    block bc
      section.content-top-margin.page-title.page-title-small.bg-dark-gray
        .container
          .row
            .col-md-8.col-sm-12.wow.fadeInUp(data-wow-duration='300ms')
              h1.white-text.title
                block title
                  | #{title || 'Title goes here'}
            include ./parts/breadcrumbs
    section.cnt
      block flashes
        +flashes()
      block content
  
    block footer
      include ./parts/footer
        a.scrollToTop(href='javascript:;')
          i.fa.fa-angle-up
