include ../_mixins/global

mixin breadcrumbs(list)
  .bc

doctype
html.js
  head
    block head
      include ./parts/_head
    title
      block title
        | #{pageTitle ? pageTitle + ' - ' : ''}
        | OK
  body
    include ./parts/navigation
    //- div.cnt
    block content
    block afterAll
  
    include ./parts/footer
      a.scrollToTop(href='javascript:;')
        i.fa.fa-angle-up
