include ../_mixins/global.jade

mixin breadcrumbs(list)
  .bc

doctype
html
  head
    block head
      include ./parts/_head.jade
    title
      block title
        | #{pageTitle ? pageTitle + ' - ' : ''}
        | OK
  body
    div.cnt
      block content
    block afterAll
