extends ./default.jade

block navigation
  nav.navbar.navbar-default.navbar-fixed-top.nav-transparent.overlay-nav.sticky-nav.nav-white.nav-dark-transparent.shrink-nav(role='navigation')
    .container
      .row
        include ./parts/navigation
