extends ./default.jade

block append head
  style.
    .cnt {
      min-height: calc(100vh - 174px);
      margin-top: 80px;
      }
    .sticky-nav.nav-border-bottom {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      }


block bc

