extends ./_layouts/default.jade

block pageHead
  h1 #{title?__(title):'Empty title in controller'}

block postHead
  //- +PasteInlineData(['tech', tech])
  //- script(src='/PageControllers/tech/editor.js')
  //- style.



block content
  