extends ./_layouts/no-title.jade

block append head
  //- +globalVar('users', users)
  +globalVar('tags', tags)
  +globalVar('tree', tree)
  +globalVar('text', post.text)
  script(src='/ViewControllers/index.js')
  //- script.
    ALLOYEDITOR_BASEPATH = '/bower_components/alloyeditor/dist/alloy-editor/';
  style.


block content
  //- section.page-title.parallax3.parallax-fix.page-title-large
    .opacity-medium.bg-black
    img.parallax-background-img(src="images/parallax-img20.jpg" alt="")
    .container
      .row
        .col-md-12.col-sm-12.text-center.animated.fadeInUp
          .separator-line.bg-yellow.no-margin-top.margin-four
          h1.white-text RuMex
          span.white-text Invest today - Secure tomorrow.

  section.wow.fadeIn
    .container
      #zone1
      #vue
        post-editor(
          :languages="languages",
          :language="language",
          :parents="parents",
          :blog="blog",
          :post="post",
          :title="title",
          :tags="tags",
          :text="text",
          )
    //- .container
      | asdd