extends ./_layouts/default.jade

block postHead
  //- +PasteInlineData(['news', news])
  //- +PasteInlineData(['qa', qa])
  //- +PasteInlineData(['org', org])
  //- +PasteInlineData(['expert', expert])
  //- script(src='/PageControllers/index.js')
  //- style.
  //-   .bc{display:none}


//- block pageHead
//-   h1 Экспертно-информационный портал


block content
  p it`s alive!!!
