//- blog-grid-3columns.html
extends ../../_layouts/black-title.jade
include ../_stuff

block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  //- script(src='/ViewControllers/index.js')
  style.
    .blog-title > a {font-size: 40px;}
    .cnt > section {padding-top: 20px;}


block append title
  +headerButtons_single(post)

block content
  section.blog-details-text
    .container
      .col-md-12.col-sm-10.center-col
        |!{post.text}
