/*

blue: #2c3e50;
grey: #ecf0f1; rgba(236, 240, 241, 0.99)
input-grey: #fafafa;

 */



/**
 *  ╔═╗╔╦╗╦ ╦╦  ╔═╗   ╔═╗╦  ╔═╗╔═╗╔═╗╔═╗╔═╗
 *  ╚═╗ ║ ╚╦╝║  ║╣ ===║  ║  ╠═╣╚═╗╚═╗║╣ ╚═╗
 *  ╚═╝ ╩  ╩ ╩═╝╚═╝   ╚═╝╩═╝╩ ╩╚═╝╚═╝╚═╝╚═╝
 */

.invisible {
  visibility: hidden;
  opacity: 0;
  }


/* _cursor */
.cp {cursor: default;}

/* _margin */
.no-m  {margin: 0px !important;}
.mt-10 {margin-top: 10px !important;}
.mr-10 {margin-right: 10px !important;}
.mb-10 {margin-bottom: 10px !important;}
.ml-10 {margin-left: 10px !important;}

/* _padding */
.no-p  {padding: 0px !important;}
.pt-10 {padding-top: 10px !important;}
.pr-10 {padding-right: 10px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pl-10 {padding-left: 10px !important;}

.ow-h {overflow: hidden;}
.pointer {cursor: pointer;}
.ib {display: inline-block;}

.i {font-style: italic;}
.b {font-weight: bold;}
.u {text-decoration: underline;}
.tac {text-align: center;}
.transparent {opacity: 0;}
.hidden {display: none;}

.w100, .w-100 {width: 100%;}

ul.no-dots>li {list-style: none;}

.no-error .error {display: none;}

.isolated {margin: 0px 0px 10px 0px;}
.comment {
    color: grey;
    font-style: italic;
    }
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
.yes-select {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    }

/* невидим для телефонов */
@media screen and (max-width: 600px) {
  .not-mobile {
    visibility: hidden;
    display: none;
  }
}



/*
 *  ╔╦╗╦ ╦  ╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
 *  ║║║╚╦╝  ╚═╗ ║ ╚╦╝║  ║╣ ╚═╗
 *  ╩ ╩ ╩   ╚═╝ ╩  ╩ ╩═╝╚═╝╚═╝
 *  @mystyles @my styles @my-styles @ms
 */


/* маска */
.cnt {
    position: relative;
    }
#mask {
    height: 100%;
    position: absolute;
    z-index: 99999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    width: 110%;
    }
    #mask img {
        margin:0 auto;
       display: block;
        height: 100px;

        }

/* подтверждающее окно */
#done {
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.5);
    }
    #done img {
        left: calc(50% - 45px);
        top: calc(50% - 45px);
        height: 100px;
        position: absolute;
        }



/***
 *  ╔╦╗╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
 *  ║║║║ ║ ║║║ ║║  ║╣ ╚═╗
 *  ╩ ╩╚═╝═╩╝╚═╝╩═╝╚═╝╚═╝
 *  @modules
 */

/* pickmeup */
.pickmeup {z-index: 10000;}
.pickmeup {background: #2c3e50;}
.pickmeup .pmu-instance .pmu-selected {border-radius: 3px;}



/* magnific popups */
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
    }
    .white-popup .row {
        margin-top: 20px;
        }
        .white-popup .row .g-btn {
            margin-right: 10px;
            }


/* tooltipster */
.tooltipster-base {cursor: pointer; z-index: 9999;}
.near-header:hover {opacity: 1;}
.near-header {cursor: pointer; padding: 0px 0px 0px 5px; opacity: 0.7;}
.begin-learning {
    cursor: pointer;
    padding: 0px 5px 0px 10px;
    }
.tooltipster-light {
    border-radius: 3px;
    border: 2px solid #aaa;
    background: #ecf0f1;
    color: #000;
    }
    .tooltipster-light .tooltipster-content {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        padding: 8px 10px;
        }








.cnt{
    min-height: calc(100vh - 278px);
}

.green {
    color: #4D9E50;
}
.percent_green {
    font-weight: bold;
    color: #4D9E50;
}
.red {
    color: #D05252;
}
.percent_red {
    font-weight: bold;
    color: #D05252;
}

.logo {max-width: 170px;}


input.has-error {
    border-color: #D05252;
    color: #D05252;
    }
