extends ../_layouts/no-page.jade

block append head
  style.
    .error{word-wrap: normal;}

block content
  section
    .container
      .row
        .col-md-10.col-sm-8.col-xs-11.text-center.center-col
          p.not-found-title.black-text Спасибо!
          p.black-text(style="font-size:25px;") Ваша заявка принята
