mixin Navigation(list)
  ul.nav.navbar-nav.navbar-right.panel-group
    for item in list
      if (canSee(item, user))
        li
          a(href= item.href ? item.href : '/')
            | !{item.name}
