mixin Navigation(list)
  nav.navbar.navbar-default.navbar-fixed-top.nav-transparent.overlay-nav.sticky-nav.nav-border-bottom.nav-white(role='navigation')
    .container
      .row
        .col-md-2.pull-left
          a.logo-light(href='/')
            img.logo(alt='', src='images/logo-white.png')
          a.logo-dark(href='/')
            img.logo(alt='', src='images/logo-light.png')
        .navbar-header.col-sm-8.col-xs-2.pull-right
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .col-md-8.no-padding-right.accordion-menu.text-right
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right.panel-group
              for item in list
                if (canSee(item, user))
                  li
                    a(href= item.href ? item.href : '/')
                      | !{item.name}
