footer
  .bg-white.footer-top
    .container
      .row.margin-four
        // phone
        .col-md-4.col-sm-4.text-center
          i.icon-phone.small-icon.black-text
          h6.black-text.margin-two.no-margin-bottom 123-456-7890
        // end phone
        // address
        .col-md-4.col-sm-4.text-center
          i.icon-map-pin.small-icon.black-text
          h6.black-text.margin-two.no-margin-bottom Victoria, United States
        // end address
        // email
        .col-md-4.col-sm-4.text-center
          i.icon-envelope.small-icon.black-text
          h6.margin-two.no-margin-bottom
            a.black-text(href='mailto:no-reply@domain.com') no-reply@domain.com
        // end email
  .container.footer-middle
    .row
      .col-md-3.col-sm-3.footer-link1.xs-display-none
        // headline
        h5 About Us
        // end headline
        // text
        p.footer-text
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        // end text
      .col-md-2.col-sm-3.col-xs-4.footer-link2.col-md-offset-3
        // headline
        h5 Company
        // end headline
        // link
        ul
          li
            a(href='about-us.html') About Company
          li
            a(href='about-us.html') What We Do
          li
            a(href='about-us.html') What We Think
          li
            a(href='careers.html') Careers
        // end link
      .col-md-2.col-sm-3.col-xs-4.footer-link3
        // headline
        h5 Services
        // end headline
        // link
        ul
          li
            a(href='services.html') Web Development
          li
            a(href='services.html') Graphic Design
          li
            a(href='services.html') Copywriting
          li
            a(href='services.html') Online Marketing
        // end link
      .col-md-2.col-sm-3.col-xs-4.footer-link4
        // headline
        h5 Introduction
        // end headline
        // link
        ul
          li
            a(href='team-members.html') Team Members
          li
            a(href='testimonials.html') Testimonials
          li
            a(href='our-clients.html') Our Clients
          li
            a(href='careers.html') Careers With Us
        // end link
    .wide-separator-line.bg-mid-gray.no-margin-lr.margin-three.no-margin-bottom
    .row.margin-four.no-margin-bottom
      .col-md-6.col-sm-12.sm-text-center.sm-margin-bottom-four
        // link
        ul.list-inline.footer-link.text-uppercase
          li
            a(href='about-us.html') About
          li
            a(href='blog-masonry-3columns.html') Blog
          li
            a(href='careers.html') Careers
          li
            a(href='testimonials.html') Testimonials
          li
            a(href='contact-us.html') Contact
        // end link
      .col-md-6.col-sm-12.footer-social.text-right.sm-text-center
        // social media link
        a(target='_blank', href='https://www.facebook.com/')
          i.fa.fa-facebook
        a(target='_blank', href='https://twitter.com/')
          i.fa.fa-twitter
        a(target='_blank', href='https://plus.google.com/')
          i.fa.fa-google-plus
        a(target='_blank', href='https://dribbble.com/')
          i.fa.fa-dribbble
        a(target='_blank', href='https://www.youtube.com/')
          i.fa.fa-youtube
        a(target='_blank', href='https://www.linkedin.com/')
          i.fa.fa-linkedin
        // end social media link
  .container-fluid.bg-dark-gray.footer-bottom
    .container
      .row.margin-three
        // copyright
        .col-md-6.col-sm-6.col-xs-12.copyright.text-left.letter-spacing-1.xs-text-center.xs-margin-bottom-one
          | © 2015 H-Code is proudly powered by ThemeZaa.
        // end copyright
        // logo
        .col-md-6.col-sm-6.col-xs-12.footer-logo.text-right.xs-text-center
          a(href='index.html')
            img(src='images/logo-light-gray.png', alt='')
        // end logo
  // scroll to top
  a.scrollToTop(href='javascript:;')
    i.fa.fa-angle-up
  // scroll to top End...
