footer
  .container-fluid.bg-dark-gray.footer-bottom
    .container
      .row.margin-three
        .col-md-6.col-sm-6.col-xs-12.copyright.text-left.letter-spacing-1.xs-text-center.xs-margin-bottom-one
          | © 2012 - #{moment().year()} RUMEX International LTD
        .col-md-6.col-sm-6.col-xs-12.footer-logo.text-right.xs-text-center
          a(href='index.html')
            img(src='images/logo-light-gray.png', alt='')
