#languages.langs.ru
//- style.
//-   #languages ul {
//-     margin: 5px 0px 0px 0px;
//-     }
//-     #languages ul li {
//-       list-style: none;
//-       display: inline-block;
//-       font-size: 12px;
//-       margin-right: 5px;
//-       opacity: 0.3;
//-       }
//-       #languages ul li:hover {
//-         opacity: 0.5;
//-         }
//-       #languages li.active {
//-         opacity: 1;
//-         }
//-       #languages li img {
//-         height: 12px;
//-         }

