include ../../_mixins/navigation
//- +Navigation(sails.config.navigation)
//- nav.navbar.navbar-default.navbar-fixed-top.nav-transparent.overlay-nav.sticky-nav.bg-white.nav-border-bottom.static-sticky
nav.navbar.navbar-default.navbar-fixed-top.nav-transparent.overlay-nav.sticky-nav.nav-border-bottom.nav-white(role='navigation')
  .container
    .row
      .col-md-2.pull-left
        a.logo-light(href='index.html')
          img.logo(alt='', src='images/logo-white.png')
        a.logo-dark(href='index.html')
          img.logo(alt='', src='images/logo-light.png')
      .navbar-header.col-sm-8.col-xs-2.pull-right
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .col-md-8.no-padding-right.accordion-menu.text-right
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right.panel-group
            li
              a(href='#collapse1')
                | Home
            li
              a(href='#collapse5')
                | Portfolio 
            li
              a(href='#collapse4')
                | Pages 
            li
              a(href='#collapse3')
                | Elements
            li
              a(href='#collapse6')
                | Blog 
            li
              a(href='#collapse7')
                | Shop 
