include ../../_mixins/navigation



include ./logo
.navbar-header.col-sm-8.col-xs-2.pull-right
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
.col-md-8.no-padding-right.accordion-menu.text-right
  .navbar-collapse.collapse
    +Navigation(sails.config.navigation)
