include ../../_mixins/navigation
//- +Navigation(sails.config.navigation)

nav.navbar.navbar-default.navbar-fixed-top.nav-transparent.overlay-nav.sticky-nav.nav-border-bottom.nav-white(role='navigation')
  .container
    .row
      // logo
      .col-md-2.pull-left
        a.logo-light(href='index.html')
          img.logo(alt='', src='images/logo-white.png')
        a.logo-dark(href='index.html')
          img.logo(alt='', src='images/logo-light.png')
      // end logo
      // search and cart
      .col-md-2.no-padding-left.search-cart-header.pull-right
        #top-search
          // nav search
          a.header-search-form(href='#search-header')
            i.fa.fa-search.search-button
          // end nav search
        // search input
        form#search-header.mfp-hide.search-form-result(method='post', action='#', name='search-header')
          .search-form.position-relative
            button.fa.fa-search.close-search.search-button(type='submit')
            input.search-input(type='text', name='search', placeholder='Enter your keywords...', autocomplete='off')
        // end search input
        .top-cart
          // nav shopping bag
          a.shopping-cart(href='#')
            i.fa.fa-shopping-cart
            .subtitle (1) Items
          // end nav shopping bag
          // shopping bag content
          .cart-content
            ul.cart-list
              li
                a.remove(title='Remove item', href='#') ×
                a(href='#')
                  img(width='90', height='90', alt='', src='images/shop-cart.jpg')
                  | Leather Craft
                span.quantity
                  | 1 × 
                  span.amount $160
                a(href='#') Edit
            p.total
              | Subtotal: 
              span.amount $160
            p.buttons
              a.btn.btn-very-small-white.no-margin-bottom.margin-seven.pull-left.no-margin-lr(href='shop-cart.html') View Cart
              a.btn.btn-very-small-white.no-margin-bottom.margin-seven.no-margin-right.pull-right(href='shop-checkout.html') Checkout
          // end shopping bag content
      // end search and cart
      // toggle navigation
      .navbar-header.col-sm-8.col-xs-2.pull-right
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      // toggle navigation end
      // main menu
      .col-md-8.no-padding-right.accordion-menu.text-right
        .navbar-collapse.collapse
          ul#accordion.nav.navbar-nav.navbar-right.panel-group
            // menu item
            li.dropdown.panel
              a.dropdown-toggle.collapsed(href='#collapse1', data-toggle='collapse', data-parent='#accordion', data-hover='dropdown')
                | Home 
                i.fa.fa-angle-down
              // sub menu
              ul#collapse1.dropdown-menu.mega-menu.panel-collapse.collapse.mega-menu-full
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Pre Made Homepage
                    li
                      a(href='index.html') Home main
                    li
                      a(href='home-fashion.html') Home fashion
                    li
                      a(href='home-architecture.html') Home architecture
                    li
                      a(href='home-spa.html') Home spa
                    li
                      a(href='home-agency.html') Home agency
                    li
                      a(href='home-restaurant.html') Home restaurant
                    li
                      a(href='home-travel-agency.html') Home travel agency
                    li
                      a(href='home-corporate.html') Home corporate
                    li
                      a(href='home-photography.html') Home photography
                    li
                      a(href='home-shop.html') Home shop
                    li
                      a(href='home-blog.html') Home blog
                    li
                      a(href='home-blog-grid.html') Home blog grid
                  // end sub menu item
                // sub menu column end
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Other
                    li
                      a(href='home-masonry-portfolio.html') Home - masonry portfolio
                    li
                      a(href='home-background-slider.html') Home - background slider
                    li
                      a(href='home-full-screen-video.html') Home - full screen video
                    li
                      a(href='home-half-screen-video.html') Home - half screen video
                    li
                      a(href='home-text-rotator.html') Home - text rotator
                    li
                      a(href='home-countdown-timer.html') Home - coming soon
                    li
                      a(href='home-countdown-timer-video.html') Home - coming soon (video)
                    li
                      a(href='home-full-width-image.html') Home - full width image
                    li
                      a(href='home-gradient-with-image.html') Home - gradient with image
                  // end sub menu item
                // end sub menu column
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Parallax Image / Typography
                    li
                      a(href='home-parallax1.html') Parallax Image - option 1 
                    li
                      a(href='home-parallax2.html') Parallax Image - option 2
                    li
                      a(href='home-parallax3.html') Parallax Image - option 3 
                    li
                      a(href='home-parallax4.html') Parallax Image - option 4
                    li
                      a(href='home-parallax5.html') Parallax Image - option 5
                    li
                      a(href='home-parallax.html') Full parallax home page
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Carousel slider
                    li
                      a(href='home-slider-bootstrap.html') Bootstrap slider - full screen
                    li
                      a(href='home-slider-revolution1.html') Revolution slider - full screen
                    li
                      a(href='home-slider-revolution2.html') Revolution slider - half screen
                    li
                      a(href='home-slider-owl1.html') owl slider - full screen
                    li
                      a(href='home-slider-owl2.html') owl slider - half screen
                  // end sub menu item
                // end sub menu column
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Creative Intro Pages
                    li
                      a(href='intro-fashion.html') Fashion Intro
                    li
                      a(href='intro-restaurant.html') Restaurant Intro
                    li
                      a(href='intro-travel.html') Travel Intro
                    li
                      a(href='intro-travel2.html') Travel Intro - V2
                    li
                      a(href='intro-agency.html') Agency Intro
                    li
                      a(href='intro-agency2.html') Agency Intro - V2
                    li
                      a(href='intro-product.html') Product Intro
                  // end sub menu item
                // end sub menu column
              // end sub menu
            // end menu item
            // menu item
            li.dropdown.panel
              a.dropdown-toggle.collapsed(href='#collapse2', data-toggle='collapse', data-parent='#accordion', data-hover='dropdown')
                | One Page 
                i.fa.fa-angle-down
              // sub menu
              ul#collapse2.dropdown-menu.mega-menu.panel-collapse.collapse.mega-menu-full
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Pre Made Homepage
                    li
                      a(href='onepage-bootstrap-slider.html') Home main
                    li
                      a(href='onepage-fashion.html') Home fashion
                    li
                      a(href='onepage-architecture.html') Home architecture
                    li
                      a(href='onepage-spa.html') Home spa
                    li
                      a(href='onepage-agency.html') Home agency
                    li
                      a(href='onepage-restaurant.html') Home restaurant
                    li
                      a(href='onepage-travel-agency.html') Home travel agency
                    li
                      a(href='onepage-corporate.html') Home corporate
                    li
                      a(href='onepage-personal.html') Home personal
                    li
                      a(href='onepage-wedding.html') Home wedding
                    li
                      a(href='onepage-landing.html') Landing page
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Parallax Image / Typography
                    li
                      a(href='onepage-parallax1.html') Parallax Image - option 1 
                    li
                      a(href='onepage-parallax2.html') Parallax Image - option 2
                    li
                      a(href='onepage-parallax3.html') Parallax Image - option 3 
                    li
                      a(href='onepage-parallax4.html') Parallax Image - option 4
                    li
                      a(href='onepage-parallax5.html') Parallax Image - option 5
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Other
                    li
                      a(href='onepage-masonry-portfolio.html') Home - masonry portfolio
                    li
                      a(href='onepage-background-slider.html') Home - background slider
                    li
                      a(href='onepage-full-screen-video.html') Home - full screen video
                    li
                      a(href='onepage-text-rotator.html') Home - text rotator
                    li
                      a(href='onepage-full-width-image.html') Home - full width image
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Carousel slider
                    li
                      a(href='onepage-bootstrap-slider.html') Bootstrap slider - full screen
                    li
                      a(href='onepage-slider-revolution1.html') Revolution slider - full screen
                    li
                      a(href='onepage-slider-revolution2.html') Revolution slider - half screen
                    li
                      a(href='onepage-slider-owl1.html') owl slider - full screen
                    li
                      a(href='onepage-slider-owl2.html') owl slider - half screen
                  // end sub menu item
              // end sub menu
            // end menu item
            // menu item
            li.dropdown.panel
              a.dropdown-toggle.collapsed(href='#collapse5', data-toggle='collapse', data-parent='#accordion', data-hover='dropdown')
                | Portfolio 
                i.fa.fa-angle-down
              // sub menu
              ul#collapse5.dropdown-menu.mega-menu.panel-collapse.collapse.mega-menu-full
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Grid
                    li
                      a(href='portfolio-grid-2columns.html') 2 Columns
                    li
                      a(href='portfolio-grid-3columns.html') 3 Columns
                    li
                      a(href='portfolio-grid-4columns.html') 4 Columns
                    li
                      a(href='portfolio-grid-5columns.html') 5 Columns
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Grid - Gutter
                    li
                      a(href='portfolio-grid-gutter-2columns.html') 2 Columns
                    li
                      a(href='portfolio-grid-gutter-3columns.html') 3 Columns
                    li
                      a(href='portfolio-grid-gutter-4columns.html') 4 Columns
                    li
                      a(href='portfolio-grid-gutter-5columns.html') 5 Columns
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Grid with Title
                    li
                      a(href='portfolio-grid-with-title-2columns.html') 2 Columns
                    li
                      a(href='portfolio-grid-with-title-3columns.html') 3 Columns
                    li
                      a(href='portfolio-grid-with-title-4columns.html') 4 Columns
                    li
                      a(href='portfolio-grid-with-title-5columns.html') 5 Columns
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Wide
                    li
                      a(href='portfolio-wide-2columns.html') 2 Columns
                    li
                      a(href='portfolio-wide-3columns.html') 3 Columns
                    li
                      a(href='portfolio-wide-4columns.html') 4 Columns
                    li
                      a(href='portfolio-wide-5columns.html') 5 Columns
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Wide - Gutter
                    li
                      a(href='portfolio-wide-gutter-2columns.html') 2 Columns
                    li
                      a(href='portfolio-wide-gutter-3columns.html') 3 Columns
                    li
                      a(href='portfolio-wide-gutter-4columns.html') 4 Columns
                    li
                      a(href='portfolio-wide-gutter-5columns.html') 5 Columns
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Wide with Title
                    li
                      a(href='portfolio-wide-with-title-2columns.html') 2 Columns
                    li
                      a(href='portfolio-wide-with-title-gutter-3columns.html') 3 Columns
                    li
                      a(href='portfolio-wide-with-title-gutter-4columns.html') 4 Columns
                    li
                      a(href='portfolio-wide-with-title-gutter-5columns.html') 5 Columns
                  // sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Masonry
                    li
                      a(href='portfolio-masonry-2columns.html') 2 Columns
                    li
                      a(href='portfolio-masonry-3columns.html') 3 Columns
                    li
                      a(href='portfolio-masonry-4columns.html') 4 Columns
                    li
                      a(href='portfolio-masonry-5columns.html') 5 Columns
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Other
                    li
                      a(href='portfolio-parallax.html') Parallax
                    li
                      a(href='portfolio-short-description.html') With Short Description
                    li
                      a(href='portfolio-lightbox.html') Portfolio lightbox
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Single Project Page
                    li
                      a(href='single-project-page1.html') Single Project Page 1
                    li
                      a(href='single-project-page2.html') Single Project Page 2
                    li
                      a(href='single-project-page3.html') Single Project Page 3
                    li
                      a(href='single-project-page4.html') Single Project Page 4
                    li
                      a(href='single-project-page5.html') Single Project Page 5
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Ajax - Project Page
                    li
                      a.simple-ajax-popup-align-top(href='onepage-single-project-page1.html') Single Project Page 1
                    li
                      a.simple-ajax-popup-align-top(href='onepage-single-project-page2.html') Single Project Page 2
                    li
                      a.simple-ajax-popup-align-top(href='onepage-single-project-page3.html') Single Project Page 3
                    li
                      a.simple-ajax-popup-align-top(href='onepage-single-project-page4.html') Single Project Page 4
                    li
                      a.simple-ajax-popup-align-top(href='onepage-single-project-page5.html') Single Project Page 5
                  // end sub menu item
              // end sub menu
            // end menu item
            // menu item
            li.dropdown.panel
              a.dropdown-toggle.collapsed(href='#collapse4', data-toggle='collapse', data-parent='#accordion', data-hover='dropdown')
                | Pages 
                i.fa.fa-angle-down
              // sub menu
              ul#collapse4.dropdown-menu.mega-menu.panel-collapse.collapse.mega-menu-full
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Introduction
                    li
                      a(href='about-us.html') About Us
                    li
                      a(href='team-members.html') Team Members
                    li
                      a(href='testimonials.html') Testimonials
                    li
                      a(href='our-clients.html') Our Clients
                    li
                      a(href='careers.html') Careers
                    li
                      a(href='contact-us.html') Contact Us
                    li
                      a(href='sitemap.html') Sitemap
                  // end sub menu item
                // end sub menu column
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Utility
                    li
                      a(href='services.html') Services
                    li
                      a(href='faq.html') FAQ'S
                    li
                      a(href='login.html') Login
                    li
                      a(href='register.html') Register
                    li
                      a(href='404.html') Not Found (404)
                    li
                      a(href='maintenance.html') Maintenance Page
                    li
                      a(href='home-countdown-timer.html') Under Construction
                  // end sub menu item
                // end sub menu column
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Page Layout
                    li
                      a(href='page-full-width.html') Full Width
                    li
                      a(href='page-full-width-wide.html') Full Width - Wide
                    li
                      a(href='page-left-sidebar.html') Left Sidebar
                    li
                      a(href='page-right-sidebar.html') Right Sidebar
                    li
                      a(href='page-both-sidebar.html') Both Sidebar
                  // end sub menu item
                // end sub menu column
                // sub menu column
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Gallery
                    li
                      a(href='gallery-1columns.html') 1 Columns
                    li
                      a(href='gallery-2columns.html') 2 Columns
                    li
                      a(href='gallery-3columns.html') 3 Columns
                    li
                      a(href='gallery-4columns.html') 4 Columns
                    li
                      a(href='gallery-6columns.html') 6 Columns
                  // end sub menu item
                // end sub menu column
              // end sub menu
            // end menu item
            // menu item
            li.dropdown.panel
              a.dropdown-toggle.collapsed(href='#collapse3', data-toggle='collapse', data-parent='#accordion', data-hover='dropdown')
                | Elements
                i.fa.fa-angle-down
              // sub menu
              ul#collapse3.dropdown-menu.mega-menu.panel-collapse.collapse.mega-menu-full
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Slider
                    li
                      a(href='slider-bootstrap.html') Bootstrap
                    li
                      a(href='slider-revolution.html') Revolution
                    li
                      a(href='slider-owl.html') Owl
                  // end sub menu item
                  // sub menu item
                  ul
                    li.dropdown-header Header
                    li
                      a(href='header-light.html') Light Version
                    li
                      a(href='header-dark.html') Dark Version
                    li
                      a(href='header-transparent-dark.html') Transparent Version - Dark
                    li
                      a(href='header-transparent-light.html') Transparent Version - Light
                    li
                      a(href='header-static-sticky.html') Static Sticky
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Page Titles
                    li
                      a(href='page-title-white.html') Title white
                    li
                      a(href='page-title-gray.html') Title gray
                    li
                      a(href='page-title-dark-gray.html') Title dark gray
                    li
                      a(href='page-title-black.html') Title black
                    li
                      a(href='page-title-with-image.html') Title with image
                    li
                      a(href='page-title-large.html') Title large
                    li
                      a(href='page-title-small-white.html') Title small white
                    li
                      a(href='page-title-small-gray.html') Title small gray
                    li
                      a(href='page-title-small-dark-gary.html') Title small dark gary
                    li
                      a(href='page-title-small-black.html') Title small black
                    li
                      a(href='page-title-center-align.html') Title center align
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Other
                    li
                      a(href='accordions.html')
                        i.fa.fa-plus-square
                        | Accordions
                    li
                      a(href='progress-bar.html')
                        i.fa.fa-tasks
                        | Progress Bar
                    li
                      a(href='buttons.html')
                        i.fa.fa-link
                        | Buttons
                    li
                      a(href='features-box.html')
                        i.fa.fa-th-large
                        | Features Box
                    li
                      a(href='form.html')
                        i.fa.fa-align-justify
                        | Form
                    li
                      a(href='grid.html')
                        i.fa.fa-th
                        | Grid
                    li
                      a(href='icons-et-line.html')
                        i.fa.fa-star-o
                        | Icons Et-line
                    li
                      a(href='icons-font-awesome.html')
                        i.fa.fa-star
                        | Icons Font Awesome
                    li
                      a(href='alert-massage.html')
                        i.fa.fa-comment
                        | Alert massage
                    li
                      a(href='tabs.html')
                        i.fa.fa-outdent
                        | Tabs
                    li
                      a(href='typography.html')
                        i.fa.fa-font
                        | Typography
                    li
                      a(href='video-sound.html')
                        i.fa.fa-video-camera
                        | Video / Sound
                    li
                      a(href='counter-and-skills.html')
                        i.fa.fa-circle-o-notch
                        | Counter and Skills
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Image Gallery
                    li
                      a(href='single-image-lightbox.html') Single Image Lightbox
                    li
                      a(href='lightbox-gallery.html') Lightbox Gallery
                    li
                      a(href='zoom-gallery.html') Zoom gallery
                    li
                      a(href='popup-with-form.html') Popup with Form
                    li
                      a(href='modal-popup.html') Modal Popup
                    li
                      a(href='open-youtube-video.html') Open YouTube Video
                    li
                      a(href='open-vimeo-video.html') Open Vimeo Video
                    li
                      a(href='open-google-map.html') Open Google Map
                  // end sub menu item
              // end sub menu
            // end menu item
            // menu item
            li.dropdown.panel
              a.dropdown-toggle.collapsed(href='#collapse6', data-toggle='collapse', data-parent='#accordion', data-hover='dropdown')
                | Blog 
                i.fa.fa-angle-down
              // sub menu
              ul#collapse6.dropdown-menu.panel-collapse.collapse.mega-menu-full(role='menu')
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Grid
                    li
                      a(href='blog-grid-2columns.html') 2 Columns
                    li
                      a(href='blog-grid-3columns.html') 3 Columns
                    li
                      a(href='blog-grid-4columns.html') 4 Columns
                    li
                      a(href='blog-grid-full-width.html') Full width
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Masonry
                    li
                      a(href='blog-masonry-2columns.html') 2 Columns
                    li
                      a(href='blog-masonry-3columns.html') 3 Columns
                    li
                      a(href='blog-masonry-4columns.html') 4 Columns
                    li
                      a(href='blog-masonry-full-width.html') Full width
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Default
                    li
                      a(href='blog-right-sidebar.html') Right sidebar
                    li
                      a(href='blog-left-sidebar.html') Left sidebar
                    li
                      a(href='blog-full-width.html') Full width
                  // end sub menu item
                li.mega-menu-column.col-sm-3
                  // sub menu item
                  ul
                    li.dropdown-header Single
                    li
                      a(href='blog-single-right-sidebar.html') Right sidebar
                    li
                      a(href='blog-single-left-sidebar.html') Left sidebar
                    li
                      a(href='blog-single-full-width.html') Full width
                    li
                      a(href='blog-single-full-width-with-image-slider.html') Full width with image slider
                    li
                      a(href='blog-single-full-width-with-lightbox-gallery.html') Full width with lightbox gallery
                  // end sub menu item
              // end sub menu
            // end menu item
            // menu item
            li.dropdown.panel.simple-dropdown
              a.dropdown-toggle.collapsed(href='#collapse7', data-toggle='collapse', data-parent='#accordion', data-hover='dropdown')
                | Shop 
                i.fa.fa-angle-down
              // sub menu single
              // sub menu item
              ul#collapse7.dropdown-menu.panel-collapse.collapse(role='menu')
                li.dropdown-header For Shopping Cart
                li
                  a(href='home-shop.html') Shop homepage
                li
                  a(href='shop-with-sidebar.html') Shop with sidebar - grid
                li
                  a(href='shop-with-sidebar-list.html') Shop with sidebar - list
                li
                  a(href='shop-full-width.html') Shop full width
                li
                  a(href='shop-single-product.html') Single product
                li
                  a(href='shop-cart.html') Cart
                li
                  a(href='shop-checkout.html') Checkout
              // end sub menu item
              // end sub menu single
            // end menu item
      // end main menu
