extends ../_layouts/black-title.jade
include ./_stuff


block prepend head
  link(rel='stylesheet', href="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
  link(rel='stylesheet', href="/bower_components/alloyeditor/dist/alloy-editor/assets/alloy-editor-atlas-min.css")


block append head
  +globalVar('post', post || {})
  +globalVar('languages', languages || [])
  +globalVar('tree', tree || {})
  style.


block append title

block content
  section.wow.fadeIn
    .container
      #vue
