extends ../../_layouts/white-subtitle
include ../../_mixins/pagination
include ../_stuff


block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  //- script(src='/ViewControllers/index.js')

block append title
  +headerButtons_list()



block content
  section.wow
    .container
      if posts && posts.length
        for post in posts
          +post(post)
      else
        .row
          .blog-title here is no posts yet...
      +pagination(pagination.current, pagination.total)
