extends ../../_layouts/white-title.jade
include ../_stuff

block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  //- script(src='/ViewControllers/index.js')
  style.


block append title
  +headerButtons()

block content

  section.wow.fadeIn.blog-details-text
    .container
      .row
        .col-md-12.col-sm-10.center-col
          //- post details text
          //- p.text-large
            | #{post.title}
          p
            | !{post.text}
