extends ./_editor.jade

block append head
  +globalVar('portfolio', portfolio)
  script(src='/ViewControllers/portfolio/edit.js')
  style.

block content
  section.wow.fadeIn
    .container
      #vue
